$font-open: "Open Sans", "Arial", sans-serif;

$primary-color: #42b983;
$primary-hover-color: #6cc19a;
$primary-active-color: #2ff79b;
$primary-focus-color: #168451;

$danger-color: #f52a2a;
$danger-hover-color: #f57171;
$danger-active-color: #e43333;
$danger-focus-color: #c52424;
